{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
{% block head_style %}
        <meta charset="utf-8">
        <title>WatHup</title>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free HTML Templates" name="keywords">
        <meta content="Free HTML Templates" name="description">

        <!-- Favicon -->
        <link href="{% static 'auth/assets/favicon.ico' %}" rel="icon">

        <!-- Google Web Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->


        <!-- Customized Bootstrap Stylesheet -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
                rel="stylesheet" 
                integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
                crossorigin="anonymous">

        <!-- Template Stylesheet -->

{% endblock %}

{% block meta %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{% trans " Welcome to WatHup. provider of web applications, mobile, systems and offers ICT training" %}" />
<meta name="keywords" content="HTML, CSS, JavaScript, Formations TIC" />
<meta name="author" content="WatHup" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}


{% block head_nav %}
<!-- Topbar Start -->

<!-- Topbar Start -->
<div class="container-fluid px-5 d-none d-lg-block" style="background-color: #06291a">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>{% trans "Nkoabang" %}</small>
                <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+237 690 060 003</small>
                <small class="text-light"><i class="fa fa-envelope-open me-2"></i>contact@wathup.com</small>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                    href="https://wa.me/237620696993"><i class="fab fa-whatsapp fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                    href="https://www.facebook.com/profile.php?id=100087082846914&mibextid=2JQ9oc"><i
                        class="fab fa-facebook-f fw-normal"></i></a>
                </a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle"
                    href="https://www.youtube.com/channel/UC0VPCITJfpoY4vUDE6yhB6g"><i
                        class="fab fa-youtube fw-normal"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar & Carousel Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="#" class="nav-item nav-link home">{% trans "Home" %}</a>
                        <a href="#" class="nav-item nav-link about">{% trans "About" %}</a>
                        <a href="#" class="nav-item nav-link blog">{% trans "Templates" %}</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{% trans "Formations" %}</a>
                            <div class="dropdown-menu m-0">
                                <a href="#" class="dropdown-item">{% trans "Office training" %}</a>
                                <a href="#" class="dropdown-item">{% trans "Programming AI"%}</a>
                                <a href="#" class="dropdown-item">{% trans "Web design" %}</a>
                            </div>
                        </div>
                        <a href="#" class="nav-item nav-link contact">{% trans "Contact" %}</a>
                    </div>
                    <!-- <butaton type="button" class="btn ms-3" style="color: #00973A" data-bs-toggle="modal"
                            data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton> -->
                    <input class="input m-3 ps-3 rounded-pill rounded-0 " id="searchInput" type="text" placeholder="search....">
                    <a class="btn btn-primary py-2 px-4 ms-3" href="{% url 'account_login' %}">{% trans "sign in" %}</a>

                </div>
            </nav>
        </div>


<body>

    <main>
        <h1 class="visually-hidden">Headers examples</h1>

        <div class="b-example-divider"></div>

        <div class="b-example-divider"></div>

        <header>
            <div class="px-3 py-2 bg-light text-white">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a href="/"
                            class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                            <img src="{% static 'auth/assets/images/wathup.png' %}" alt="auth Logo"
                                style="width: 100px">
                        </a>
                        <form class=" col-md-5 col-lg-5 my-2 my-md-0 text-small ms-3">
                            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                        </form>
                        <div class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <svg aria-hidden="true" fill="none" focusable="false" height="24" viewBox="0 0 20 20"
                                    width="24" class="css-er7iep" id="cds-react-aria3885197948-:r2:">
                                    <path d="M10 18a7.796 7.796 0 01-3.104-.625 8.064 8.064 0 01-2.552-1.719 8.063 8.063 0 
                                    01-1.719-2.552A7.797 7.797 0 012 10c0-1.111.208-2.15.625-3.115a8.064 8.064 0 014.27-4.26A7.797 7.797 0 0110 2c1.111 0 2.15.208 3.115.625a8.095 8.095 0 014.26 4.26C17.792 7.851 18 8.89 18 10a7.797 7.797 0 01-.625 3.104 8.063 8.063 0 01-4.26 4.271A7.774 7.774 0 0110 
                                    18zm0-1.563c.236-.236.472-.677.708-1.322.236-.646.417-1.351.542-2.115h-2.5c.125.764.306 1.469.542 2.115.236.645.472 1.086.708 1.322zm-1.896-.208a8.848 8.848 0 01-.51-1.437A15.955 15.955 0 017.229 13H4.25a6.46 6.46 0 001.604 2.031 5.978 5.978 0 002.25 1.198zm3.792 
                                    0a5.977 5.977 0 002.25-1.198A6.46 6.46 0 0015.75 13h-2.98c-.096.653-.218 1.25-.364 1.792a8.84 8.84 0 01-.51 1.437zM3.687 11.5h3.355a10.06 10.06 0 01-.052-.781 28.175 28.175 0 010-1.5 8.14 8.14 0 01.052-.719H3.688c-.07.264-.119.517-.146.76a6.508 6.508 0 000 1.48c.027.243.076.496.146.76zm4.876 0h2.874c.028-.278.046-.538.053-.781a25.34 25.34 0 000-1.448c-.007-.25-.025-.507-.053-.771H8.563c-.028.264-.046.52-.053.77a26.254 26.254 0 000 1.46c.007.25.025.506.053.77zm4.395 0h3.354a5.4 5.4 0 00.146-.76 6.504 6.504 0 000-1.49c-.027-.25-.076-.5-.145-.75h-3.355c.028.264.046.524.052.781a27.922 27.922 0 010 1.5 8.112 8.112 0 01-.052.719zM12.771 7h2.979a6.462 6.462 0 00-1.604-2.031 5.978 5.978 0 00-2.25-1.198c.194.417.364.896.51 1.437.146.542.268 1.14.365 1.792zM8.75 7h2.5a11.615 11.615 0 00-.542-2.115C10.472 4.24 10.236 3.8 10 3.563c-.236.236-.472.677-.708 1.322-.236.646-.417 1.351-.542 2.115zm-4.5 0h2.98c.096-.653.218-1.25.364-1.
                                    792.146-.541.316-1.02.51-1.437a5.98 5.98 0 00-2.25 1.198A6.462 6.462 0 004.25 7z"
                                        fill="currentColor"></path>
                                </svg>
                                Anglais
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Francais</a></li>
                                <li><a class="dropdown-item" href="#">Russe</a></li>
                                <li><a class="dropdown-item" href="#">Chinois</a></li>
                            </ul>
                        </div>
                        <div class="nav-item">
                            <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">

                                <img src="..." class="rounded-circle rounded-3" alt="F">
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">{% trans "Profile" %}</a></li>
                                <li><a class="dropdown-item" href="#">{% trans "My Purchases" %}</a></li>
                                <li><a class="dropdown-item" href="#">{% trans "Settings" %}</a></li>
                                <li><a class="dropdown-item" href="#">{% trans "Updates" %}</a></li>
                                <li><a class="dropdown-item" href="#">{% trans "Accomplshments" %}</a></li>
                                <li><a class="dropdown-item" href="#">{% trans "Hepl Center" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-3 py-2 border-bottom mb-3">
                <div class="container d-flex flex-wrap justify-content-start">
                    <div class="text-end">
                        <ul class="nav col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                            <li>
                                <a href="#" class="nav-link text-dark">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-dark">
                                    My Learning
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-dark">
                                    Online Degrees
                                </a>
                            </li>
                            <li>
                                <a href="contact" class="nav-link text-dark">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Navbar & Carousel Start -->


        <!-- Navbar & Carousel End -->
{% endblock%}


{% block content %}
<section>
    <div class="container px-3 py-2 d-flex flex-wrap justify-content-start">
        <div class=" col-md-6 col-lg-7 mb-2 mb-lg-0 me-lg-auto">
            <h2>{% trans 'Continue learning' %}</h2>
                <div style="padding: 50px;" class=" card-header justify-content-between align-items-center">
                    <div>
                        <h5 class="card-title">
                            {% blocktrans %}
                            Félicitations pour l'obtention de votre Google AI Essentials <br> Certificat de Spécialisation!
                            {% endblocktrans %}
                        </h5>
                        <button type="button" class="btn btn-primary">{% trans "Add linkedIn" %}</button>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="card">
                    <div class=" card-body">
                        <div class=" form-check">
                            <input style="margin-top: 16px;" class="form-check-input" type="checkbox" value=""
                                id="flexCheckIndeterminate">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{% trans 'Cours 1 sur 5 · Terminer' %}</h6>
                            </label>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class=" card-body">
                        <div class=" form-check">
                            <input style="margin-top: 16px;" class="form-check-input" type="checkbox" value=""
                                id="flexCheckIndeterminate">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{% trans 'Cours 2 sur 5 · Terminer' %}</h6>
                            </label>
                        </div>
                        
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </div>
                </div>
                 <div class="card">
                    <div class=" card-body">
                        <div class=" form-check">
                            <input style="margin-top: 16px;" class="form-check-input" type="checkbox" value=""
                                id="flexCheckIndeterminate">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{% trans 'Cours 3 sur 5 · Terminer' %}</h6>
                            </label>
                        </div>
                        
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                </div>
        </div>
        <div class=" col-md-6 col-lg-4 mb-2 mb-lg-0 me-lg-auto bg-light mx-3">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h4>welcome {{ user.first_name }}</h4>
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

</html>