


.heading h2 {
    font-size: 30px;
    font-weight: 700;
    color: #0779e4;
}

.heading .caption {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
}

.rounded {
    border-radius: 0.25rem !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}